name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout
        uses: actions/checkout@v4

      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx

      
      - name: Run pytest
        run: pytest

      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Playwright + Browsers
        run: |
          npm ci
          npx playwright install chromium --with-deps

      
      - name: Start FastAPI app
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 10

      
      - name: Run Playwright tests
        run: npx playwright test

     
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: sc673/finalprojet:latest
